resources/*
branches/*
test/*

package.json
*/package.json
*.pyc

*/config/*
config/*

*/fullapps/*
*/fullapps
fullapps/*
fullapps

*/.git/*
*/.git
.git/*
.git

node_builds
node_builds/*
*/node_builds
*/node_builds/*

node_modules
node_modules/*
*/node_modules
*/node_modules/*

*/install/*
install/*

server_setup
server_setup/*
*/server_setup
*/server_setup/*
