<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>GWBloom Site Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
<%
domainname="WeaponsBloom";
if(domain==="gwbloom.com")  domainname = "GWBloom";
if(domain==="weaponsbloom.com")  domainname = "WeaponsBloom";
if(domain==="manaofmana.com")  domainname = "Mana of Mana";
 %>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome to <%= domainname %></h1>
        <!-- <%= servermode %>    //-->

        <p>Login or Register with:</p>

        <p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </p>
        <p>
            <a href="/chat" target="_blank" class="btn btn-default"><span class="fa fa-user"></span> Chat Room</a>
        </p>
    </div>

    <script src="/js/heartbeat.js"></script>

</div>
</body>
</html>
